/* Tag Selectors*/
html{
    font-size: 16px;
    box-sizing: border-box;
}

body{
    margin: 0px;
}

/* Class Selectors (.class-name)*/
/* .flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center:
    flex-direction:
} */

/* ID Selectors (#class-name)*/

